.UserResults {
  .title {
    font-size: 38px;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .users-list {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
    height: 150px;
    overflow-x: scroll;
  }
}